.footer {
  padding: 2rem 3rem;
  background-color: var(--color-primary);

  .copyright {
    font-size: 1.3rem;
    color: var(--color-white);
    text-align: center;
    line-height: 2rem;

    a {
      text-decoration: underline;
    }
  }
}
