.header {
  height: 100vh;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--color-white);

  position: relative;
}

.logo {
  position: absolute;
  top: 5%;
  left: 8%;
  font-size: 3rem;
  font-family: "Tangerine", serif;
  z-index: 100;
}

.title__content {
  @include content-center;
  width: 70%;
  text-align: center;

  @media only screen and (min-width: 900px) {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(0, -50%);
    text-align: left;
    width: 45%;
  }
}
